language: python


branches:
  only:
  - dev
  - testing

matrix:
  include:
    - name: "Standard Python 3.9"
      python: 3.9
    - name: "Standard Python 3.8"
      python: 3.8
    - name: "Standard Python 3.7"
      python: 3.7
    - name: "Standard Python 2.7"
      python: 2.7
    - name: "Standard Python 3.4"
      python: 3.4
    - name: "Standard Python 3.5"
      python: 3.5
    - name: "Standard Python 3.6"
      python: 3.6
    - name: "Python 3.7.3 on Windows"
      os: windows
      language: shell
      before_install:
         - choco install python --version 3.7.3
         - python -m pip install --upgrade pip
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
    - name: "Python 3.8.0 on Windows"
      os: windows
      language: shell
      before_install:
         - choco install python --version 3.8.0
         - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
    - name: "Python 3.9.0 on Windows"
      os: windows
      language: shell
      before_install:
         - choco install python --version 3.9.0
         - python -m pip install --upgrade pip
      env: PATH=/c/Python39:/c/Python39/Scripts:$PATH

install:
  - python -m pip install --upgrade pip
  - python -m pip install PyCryptodome
  - python -m pip install numpy

script: python -m cachepy.test

before_script:
  - rm -f "*.dat"
  - rm -f "*.bak"
  - rm -f "*.dir"

